

body{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}


header{
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

header ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5px 0 30px;
    color: #242E52;
}

a{
    text-decoration: none;
}

header a:link{
    text-decoration: none;
    color: #242E52;
}
   
header a:visited{
    color: #242E52;
   }

header a:hover{
color: #8F94A7;
}

.boton{
    border-radius: 50px;
    background-color: rgba(243, 96, 59, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    width: 134px;
    height: 44px;
    padding: 10px;
    font-family: 'Be Vietnam Pro';
}
 
.boton:hover{
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);

}

.hamburger{
    display: none;
}

.intro{
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.productos{
    display: flex;
    flex-direction: column;
}

.graficas{
    width: 500px;
}

.boton_footer:hover{
    background-color:rgba(255, 255, 255, 1);
    color:  rgba(243, 96, 59, 1);
}

.boton_footer{
    border-radius: 20px;
    background-color: rgba(243, 96, 59, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
}


p{
    color: #8F94A7;
  }

.container{
    display: inline-flex;
    justify-content: space-between;
}

.section2{
    display: flex;
    flex-direction: column;
}

.bullet{
    background-color: rgba(243, 96, 59, 1);
    border-radius: 20px;
    color: rgba(255, 255, 255, 1); 
    padding: 10px 20px;
    
}

.testimonios{
    display: flex;
}

.testimonios article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonios article p{
    text-align: center;
}

.title{
    display: flex;
    justify-content: center;
    font-weight: 700;   
}


.bring{
    font-size: 58px;
    font-weight: 700;
    width: 439px;
    margin-bottom: 20px;
    letter-spacing: -0.035em;
    color: #232c50;

}

.productos p{
    width: 439px;
}

.boton_3{
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(243, 96, 59, 1);
    border-style: none;
    width: 134px;
    height: 44px;
    padding: 10px;
    font-family: 'Be Vietnam Pro';
}

.boton_3:hover{
    background-color:rgba(243, 96, 59, 1);
    color:  rgba(255, 255, 255, 1);
}

.simplify{
    background-color: rgba(243, 96, 59, 1);
    color: rgba(255, 255, 255, 1);
    height: 224px;
    width: 1439px;
    left: 0px;
    top: 0px;
}

.work{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: inline-flex;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1E26;
    color: rgba(255, 255, 255, 1);
    width: 1439px;
    height: 247px;
    left: 0px;
    top: 2392px;
}

.footer_nav{
display: flex;
}

footer ul li{
 list-style: none;
 color: rgba(255, 255, 255, 1);
}

.nav_footer:hover{
    color:  rgba(243, 96, 59, 1);
}

footer a:link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
   
footer a:visited{
    color: rgba(255, 255, 255, 1);
   }

footer a:hover{
color: rgba(243, 96, 59, 1);
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:375px) {
    header ul li{
        display: none;
    }
   .boton_header{
    display: none;
   } 
   .hamburger{
    display: block;
   }

   .intro{
    display: flex;
    flex-direction: column;
   }

   .container{
    display: flex;
    flex-direction: column;
   }  

.simplify{
    width:100%;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer nav ul{
    padding: 0px;
}

.redes{
    order: 3;
    padding-bottom: 30px;
}

.email{
    order: 1;
    padding-top: 20px;
}

.footer_nav{
    order: 2;
}

.ali{
    display: none;
    visibility: hidden;
    position: absolute;
}

.richard{
    display: none;
    visibility: hidden;
    position: absolute;
}

.testimonios article{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.testimonios article p{
    text-align: center;
}
}

