* {
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro';
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    padding: 30px;
}

header ul li {
    list-style: none;
    display: inline-block;
    padding: 0 5px 0 30px;
    color: #242E52;
}

a {
    text-decoration: none;
}

header a:link {
    text-decoration: none;
    color: #242E52;
}

header a:visited {
    color: #242E52;
}

header a:hover {
    color: #8F94A7;
}

.boton {
    border-radius: 50px;
    background-color: rgba(243, 96, 59, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    width: 134px;
    height: 44px;
    padding: 10px;
    font-family: 'Be Vietnam Pro';
}

.boton:hover {
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);

}

.hamburger {
    display: none;
}

.intro {
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.intro div {
    width: 40%;
}

.productos {
    display: flex;
    flex-direction: column;
}


main p {
    color: rgba(143, 148, 167,0.8);
    
    
} 

.boton_footer:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(243, 96, 59, 1);
}

.boton_footer {
    height: 3rem;
    width: 5rem;
    background-color: #F3603B;
    border-radius: 50px;
    border: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    width: 90%;
}

.container section:first-child {
    margin-right: 200px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.bullet {
    background-color: rgba(243, 96, 59, 1);
    border-radius: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 20px;

}

.testimonios {
    display: flex;
    height: 600px;
}

.testimonios article h4 {
    color: rgb(35, 44, 81);
    font-size: 2rem;
    margin-bottom: 75px;
}


.testimonios article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonios article p {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 700;
}


.bring {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -0.035em;
    color: #232c50;
}



.boton_3 {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(243, 96, 59, 1);
    border-style: none;
    width: 134px;
    height: 44px;
    padding: 10px;
    font-family: 'Be Vietnam Pro';
}

.boton_3:hover {
    background-color: rgba(243, 96, 59, 1);
    color: rgba(255, 255, 255, 1);
}


.work {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: inline-flex;
    width: 280px;
}

.banner {
    background-color: rgb(242, 95, 58);
    color: rgba(255, 255, 255, 1);
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 100px;
}



footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1E26;
    color: rgba(255, 255, 255, 1);
    height: 300px;
    left: 0px;
    padding: 30px;
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.boton_perfiles {
    margin-left: 650px;
}


.footer_nav {
    display: flex;
}

footer ul li {
    list-style: none;
    color: rgba(255, 255, 255, 1);
}

.nav_footer:hover {
    color: rgba(243, 96, 59, 1);
}

footer a:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

footer a:visited {
    color: rgba(255, 255, 255, 1);
}

footer a:hover {
    color: rgba(243, 96, 59, 1);
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.listas_footer {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.input {
    height: 3rem;
    width: 14rem;
    background-color: white;
    border-radius: 50px;
    border: 0px;
    padding-left: 15px;
    color: #A0A0A0;
    font-weight: 600;
}

@media (max-width:400px) {

    header {
        padding: 0px;
    }

    .bring {
        width: 100%;
    }

    header ul li {
        display: none;
    }

    .boton_header {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .intro {
        display: flex;
        flex-direction: column;
    }

    .intro div {
        width: 90vw;
    }

    .intro div img {
        width: 100%;
    }

    .productos {
        text-align: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px 0px;
    }

    .container section:first-child {
        margin-right: 0px;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0%;
        height: 400px;
    }

    footer nav ul {
        padding: 0px;
    }

    .redes {
        order: 3;
        padding-bottom: 30px;
        flex-direction: column-reverse;
        height: 100px;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .email {
        order: 1;
        padding-top: 20px;
    }

    .footer_nav {
        order: 2;
    }

    .copyright {
        order: 4;
    }

    .ali {
        display: none;
        visibility: hidden;
        position: absolute;
    }

    .richard {
        display: none;
        visibility: hidden;
        position: absolute;
    }

    .testimonios article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .testimonios article p {
        text-align: center;
    }

    .boton,
    .boton_perfiles {
        text-align: center;
        align-items: center;
    }

    .perfiles {
        text-align: center;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 430px;
    }

    .boton_perfiles {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .work {
        width: 200px;
    }

    .listas_footer {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    .footer_nav {
        width: 100%;
        justify-content: space-around;
    }

    .footer_nav li {
        padding: 4px 0px 10px 0px;
    }

    footer div a {
        padding: 0px 10px;
    }

    footer div a i {
        width: 45px;
    }
}